.authors {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.authors__title {
    text-align: center;
}

.authors__list {
    padding: 0
}

.authors__item {
    background: #fcfcfc;
    box-shadow: 2px 2px 10px #ccc;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 10px 30px;
    border-radius: 3px
}