.preloader {
	z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.preloader__list {
    width: 80px;
	height: 80px;
	position: relative;
}

.preloader__item {
    display: block;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.preloader__item--1 {
    width: 100%;
    height: 100%;
    border-color: rgba(25,190,155,1);
    border-left-color: transparent;
    top: 0;
    left: 0;
    animation: effect-1 4s infinite linear;
}

.preloader__item--2 {
    width: 75%;
    height: 75%;
    border-color: rgba(230,75,60,1);
    border-right-color: transparent;
    top: 12.5%;
    left: 12.5%;
    animation: effect-2 3s infinite linear;
}

.preloader__item--3 {
    width: 50%;
    height: 50%;
    border-color: rgba(50,70,95,1);
    border-bottom-color: transparent;
    top: 25%;
    left: 25%;
    animation: effect-1 4s infinite linear;
}

@keyframes effect-1 {
	from {
		transform: rotate(0deg);
    }
	to {
		transform: rotate(360deg);
    }
}

@keyframes effect-2 {
	from {
		transform: rotate(0deg);
    }
	to {
		transform: rotate(-360deg);
    }
}